$BRAND1: #1d3d3d;
$BRAND1_ACCENT: #295757;
$BRAND1_ACCENT2: #254e4e;
$BRAND1_LIGHT: #a0bebd;
$BRAND1_LIGHTER: #c2d9d7;

$ORANGE: #ef6d3f;
$BLACK: #000000;

$ALERT_SUCCESS: #36b37e;
$ALERT_ERROR: #ff4d4f;

$NEUTRAL1: #ffffff;
$NEUTRAL2: #ecedf1;
$NEUTRAL3: #cfd4dc;
$NEUTRAL4: #7a8598;
$NEUTRAL5: #919aab;
$NEUTRAL6: #647186;
$NEUTRAL8: #566376;
$NEUTRAL10: #363d4a;

$font-5xl: 7.2rem;
$font-4xl: 6.4rem;
$font-3xl: 5.4rem;
$font-2xl: 4.8rem;
$font-xl: 3.6rem;
$font-lg: 2.8rem;
$font-md: 2.2rem;
$font-sm: 1.6rem;
$font-xs: 1.4rem;
$font-2xs: 1.2rem;
$font-3xs: 1rem;
$font-4xs: 0.8rem;
